.home {
    @padding: 1em;
    padding: @padding;
    overflow: auto;

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: @padding;

        .button-navigation {
            margin-top: 0.5em;
        }
    }
}
